%overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
%absoluteCenter {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
%popupmodal-bg {
	position:absolute;
	width:80%;
	left:10%;
	top: 10%;
	background-color: #fff;
}