@import "mixin" , "variable","placeholder";
html{
	height: 100%;
	overflow: hidden;
}
%mobileSize {
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
}
body {
	@extend %mobileSize;
		height: 100%;
		padding-top: 40px;
		background-color: #f8f8f8;
		background-image: url('../../imgs/list-bg.png');
		background-size: 100% 100%;

		.main-wrap {
			width: 100%;
			height: 100%
		}
	}
.main-container{
	position: relative;
	border-color: transparent;
	height: 100%;
	overflow: hidden;

 @at-root .page-title {
 	@extend %mobileSize;
 	position: fixed;
 	top: 0;
 	z-index: 1;
 	text-align: center;
 }
 .fixed-bottom {
 	position:fixed;
 	width: 100%;
 	bottom: 0;
 	z-index: 1;
 }

	.loading-mask {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
		background-color: rgba(250,250,250,.5);

		&.on {
			display: block;
		}

		.loading {
			margin: 50px auto;
			text-align: center;
		}
	}

	.add-btn{
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		cursor: pointer;
	}
	%type-list {
		position: absolute;
		z-index: 2;
		list-style: none;
		width: 7em;
		padding: .5em 0;
		line-height: 1.5;
		background-color: #333;
		color: #fff;
		text-align: center;
		&>li {
			cursor: pointer;
		}

	}
	.types-list{
		@extend %type-list;
		right: 0;
	}
	.unread-tips{
		position: absolute;
		z-index: 1;
		cursor: pointer;
		bottom: 45px;
		right: 2em;
		background-color: #fff;
		color: #3c763d;
		border-radius: 10px;
		padding: 6px 12px;
	}
	.new_message_box{
		position:absolute;
		width:80%;
		left:10%;
		top: 20%;
		background-color: #fff;


		.input-box.has-error::after{
			content: attr(data-error);
			color: #f43;
			position: absolute;
			top:.5em;
			right: 1.5em;
		}
	}
	@at-root .messages-list-box {
		@extend %overlay;
		bottom:40px;
		overflow: auto;
		.messages-list {
			position: relative;
			bottom: 0;
			.message-item {
				display: flex;
				.item-face {
					padding: 8px 5px 0;
				}
				img {
					@include square(40px);
				}
				.item-content{
						border-radius: 5px;
						padding: 8px;
						margin: 0 5px;
						background-color: #fff;

						.message-content{
							word-break:break-all;
						}
					}
				&.send{
					flex-direction:row-reverse;
					.item-content{
						background-color: #9eea6a;
					}
				}
				&+.message-item {
					margin-top: 15px;
				}
			}
		}
	}

	.filter-box {
		.filter-item{
			padding:10px 0;
			text-align: center;
			background-color: #fff;

			&.sell{
				color: #fff;
				background-color: lighten(#007cc3,5%);
			}
			&.buy{
				color: #fff;
				background-color: lighten(#da251d,5%);
			}
		}
	}
}