@import "mixin" , "variable","placeholder";
html{
	height: 100%;
	overflow: hidden;
}
%mobileSize {
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
}
body {
	@extend %mobileSize;
		height: 100%;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #f8f8f8;
		background-image: url('../../imgs/list-bg.png');
		background-size: 100% 100%;
	}
.main-container{
	position: relative;
	border-color: transparent;
	height: 100%;
	overflow: hidden;

 @at-root .page-title {
 	@extend %mobileSize;
 	position: fixed;
 	top: 0;
 	z-index: 1;
 	text-align: center;
 }

	.loading-mask {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
		background-color: rgba(250,250,250,.5);
		display: none;

		&.on {
			display: block;
		}

		.loading {
			margin: 50px auto;
			text-align: center;
		}
	}

	.filter-btn{
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		cursor: pointer;
	}
	%type-list {
		position: absolute;
		z-index: 2;
		list-style: none;
		width: 7em;
		padding: .5em 0;
		line-height: 1.5;
		background-color: #333;
		color: #fff;
		text-align: center;
		&>li {
			cursor: pointer;
		}

	}
	.types-list{
		@extend %type-list;
		right: 0;
	}
	.new-message-box {
		position: fixed;
		bottom: 0;
		height: 40px;
		@extend %mobileSize;

		&.up {
			.message-input:nth-child(1){
				transform:translateY(-100%) rotateX(90deg);
			}
			.message-input:nth-child(2){
				transform:translateY(-100%)
			}
		}

		.message-input {
			display: flex;
			padding: 3px 0;
			transition:all .5s;

			input {
				border: 1px solid #aaa;
				border-radius: 0;
				margin-right: .5em;

				&:active,&:focus {
					box-shadow: none;
				}
			}
			button {
				border-radius: 0;
			}

			.input-type {
				flex:1 0 5em;
				text-align: center;
				line-height: 32px;
				background-color: #eee;
				border:1px solid #ccc;
				cursor: pointer;
			}
			.input-button {
				flex:1 0 5em;
			}
			&.tip{
				&::after{
					content: attr(data-error);
					color: #f43;
					position: absolute;
					right: 6em;
					margin-top: -1em;
				}
			}
		}

		.send-type-list{
			transform:translateY(-100%);
			@extend %type-list;
			padding-top: 0;
			display: none;
			&.active {
				display: block;
			}
			.user-mobile {
				background-color: #ccc;
				color: #333;
				line-height: 2;
			}
		}
	}
	@at-root .messages-list-box {
		@extend %overlay;
		overflow: auto;
		.messages-list {
			position: relative;
			bottom: 0;
			.message-item {
				display: flex;
				.item-face {
					padding: 8px 5px 0;
				}
				img {
					@include square(40px);
				}
				.item-content{
						border-radius: 5px;
						padding: 8px;
						margin: 0 5px;
						background-color: #fff;
					}
				&.send{
					flex-direction:row-reverse;
					.item-content{
						background-color: #9eea6a;
					}
				}
				&+.message-item {
					margin-top: 15px;
				}
			}
		}
	}
}