@import "mixin" , "variable","placeholder";
html{
	height: 100%;
	overflow: hidden;
}
body {
		height: 100%;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #f8f8f8;
		background-image: url('../imgs/list-bg.png');
		background-size: 100% 100%;
	}
.main-container{
	position: relative;
	border-color: transparent;
	height: 100%;
	overflow: hidden;

	.loading-mask {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
		background-color: rgba(250,250,250,.5);
		display: none;

		&.on {
			display: block;
		}

		.loading {
			margin: 50px auto;
			text-align: center;
		}
	}
	.filter-btn{
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		cursor: pointer;
	}
	.types-list{
		position: absolute;
		z-index: 1;
		list-style: none;
		right: 0;
		text-align: center;
		width: 7em;
		padding: .5em 0;
		line-height: 1.5;
		background-color: #333;
		color: #fff;

		&>li{
			cursor: pointer;
		}
	}

	.show-box-btn {
		cursor: pointer;
	}
	.new-message-box {
		@extend %absoluteCenter;
		position: fixed;
		bottom: 0;

		&.show {
			opacity: 1;
			transform:rotateY(0);
			top: 30%;
		}

	}

	@at-root .messages-list-box {
		@extend %overlay;
		overflow: auto;
		.messages-list {
			position: relative;
			bottom: 0;
			.message-item {
				display: flex;
				.item-face {
					padding: 8px 5px 0;
				}
				img {
					@include square(40px);
				}
				.item-content{
						border-radius: 5px;
						padding: 8px;
						margin: 0 5px;
						background-color: #fff;
					}
				&.send{
					flex-direction:row-reverse;
					.item-content{
						background-color: #9eea6a;
					}
				}
				&+.message-item {
					margin-top: 15px;
				}
			}
		}
	}
}